.textcontainer{
    text-align: center;
}
.mx-auto{
    margin:auto
}
.max-wid{
    max-width: 20dvw;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.flex{
display:flex;
} 
.flexauto{
flex-direction: column;
} 
.items-center
{
    align-items: center;
}
.row{
        margin: 8px 0;
}
.row input{
    width: 291px;
    font-size: 20px;
      margin: 0;
      padding: 10px 0px;
      border: 2px solid black;
      border-radius: 5px;
  }
  
